<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BCP.WebAPI-20160729135121;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BCP.WebAPI-20160729135121.mdf" />-->
    <!--<add name="DataContext" connectionString="metadata=res://*/Edmx.DBPlaceFinal.csdl|res://*/Edmx.DBPlaceFinal.ssdl|res://*/Edmx.DBPlaceFinal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRSVR;initial catalog=BCP;user id=sa;password=***********;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <!--<add name="DataContext" connectionString="metadata=res://*/DatabasePlace.csdl|res://*/DatabasePlace.ssdl|res://*/DatabasePlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRSVR;initial catalog=BCP;user id=sa;password=***********;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient"/>-->
    <add name="DataContext" connectionString="metadata=res://*/Edmx.DBPlaceFinal.csdl|res://*/Edmx.DBPlaceFinal.ssdl|res://*/Edmx.DBPlaceFinal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRSVR;initial catalog=BCP;user id=sa;password=Sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
